/* Universal Styles */

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.flex-content {
  display: flex;
  padding-left: 1.5rem;
}

.flex-content .main-content {
  width: 60%;
  padding: 2rem 1.5rem 2rem 0;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.img-container video {
  width: 100%;
}

.side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-content.large {
  width: 30%;
  padding: 2rem 0;
}

a {
  text-decoration: none;
}

/* Header */

header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4rem;
  align-items: center;
  background-color: rgb(240, 240, 240);
}

header .logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 1.5rem;
  height: 2rem;
}

.logo .logo-bold {
  font-weight: 600;
  color: darkslategray;
}

.logo .logo-reg {
  color: grey;
}

.navigation {
  display: flex;
  padding-right: 1.5rem;
}

.navigation ul {
  display: flex;
  flex-grow: 1;
}

.full li {
  list-style: none;
  padding-left: 1rem;
}

.full a {
  color: darkslategrey;
  text-decoration: none;
}

.full a:hover {
  font-weight: 600;
  color: rgb(16, 30, 90);
}

/* Main Banner */

#banner {
  background-color: rgb(173, 201, 224);
  position: relative;
  top: 4rem;
}

.side-content h1,
.side-content h3 {
  color: rgb(16, 30, 90);
  line-height: 1.5;
}

.side-content h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.side-content h3 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 2rem;
}

.side-content h4 {
  margin-top: 0;
}

.side-content p {
  margin-top: 0;
}

.side-content .button {
  color: white;
  text-align: center;
  background-color: rgb(16, 30, 90);
  padding: 0.5rem 0;
  text-decoration: none;
}


.side-content .button:hover {
  background-color: rgb(93, 128, 182);
  color: white;
}

/* Second Banner */

#information {
  position: relative;
  top: 4rem;
}

#information h2,
#information p,
#information h4 {
  color: rgb(16, 30, 90);
}

#information h2 {
  padding-top: 2rem;
  margin: 0;
}

.details {
  padding-top: 1.5rem;
  margin: 0;
  font-size: 0.8rem;
}

.citation {
  padding-top: 1.5rem;
  margin:0;
}

#information .citation {
  font-size: 0.75rem;
}

.side-flexbox {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 1rem;
}

.info-block {
  display: flex;
  align-items: center;
  width: 100%;
  transition: background-color 400ms ease-in;
}

.info-block:hover {
  background-color: rgb(240, 240, 240);
}


.info-block .img-container {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.side-content.small {
  width: 65%;
  padding-right: 1.5rem;
}

.side-content a {
  font-weight: 600;
  color: rgb(93, 128, 182);
}

.side-content a:hover {
  color: rgb(16, 30, 90);
}

/* Start Learning */

.study-areas {
  position: relative;
  top: 4rem;
  background-color: rgb(240, 240, 240);
}

.study-areas h1 {
  text-align: center;
  color: rgb(16, 30, 90);
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 3.5rem 1rem 3.5rem;
}

.subject-tile {
  background-color: white;
  width: 30%;
  flex-grow: 1;
  margin: 1rem;
}

.subject-tile:hover {
  border-bottom: 2px solid rgb(16, 30, 90);
}

.subject-tile img{
  width: 100%;
}

.tile-text {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tile-text h4 {
  color: rgb(16, 30, 90);
  font-weight: 600;
}

.tile-text p {
  color: darkslategray;
}

#courses {
  color: rgb(93, 128, 182);
}

/* Thesis Exhibit */

#sample-work {
  background-color: white;
}

#sample-work h4 {
  margin-bottom: 0;
  color: rgb(16, 30, 90);
}

#para {
  padding-top: 1rem;
}

/* Footer */

footer {
  background-color: rgb(16, 30, 90);
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 0.75rem;
  color: rgb(173, 201, 224);
}

footer .flex-footer {
    display: flex;
  }

.flex-footer .copyright {
  padding-left: 1.5rem;
  flex-grow: 1;
}

.flex-footer .legal {
  padding-right: 1.5rem;
}
